.weather-header {
  display: flex;
  justify-content: space-between;
}

.content-container {
  width: 100%;
  height: 100vh;
  padding: 64px;
  display: flex;
  flex-direction: column;
}

.week-list {
  margin-bottom: auto;
}

.hourly-weather-container{
  margin-top: auto;
  -webkit-box-pack: center;
  display: flex;
  overflow: auto;
  scrollbar-color: white royalblue;
  justify-content: center ;
}
@media (min-width: 1408) {
  .hourly-weather-container{
    justify-items: start;
  }
}


