.weather-header {
  display: flex;
  justify-content: space-between;
}

.content-container {
  width: 100%;
  min-height: 100vh;
  padding: 64px;
  display: flex;
  flex-direction: column;
}

.week-list {
  margin-bottom: auto;
}

@media (max-width: 425px) {
  .weather-header {
    flex-direction: column-reverse;
  }

  .content-container {
    padding: 16px;
    margin-left: auto;
    margin-bottom: auto;
  }
}

@media (max-height: 600px) {
  .weather-header {
    flex-direction: column-reverse;
    margin-bottom: 96px;
  }
}
