.week-container {
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.day-container {
  min-width: 160px;
  padding: 8px 24px;
  border-radius: 8%;
  width: 144px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.day-container:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.425),rgba(255, 255, 255, 0))
}

.icon {
  width: 80px;
  height: 80px;
}

.day-temperature {
  font-size: 16px;
}

.day {
  font-size: 20px;
}

.time-index {
  font-size: 14px;
}

.hourly-weather-container{
  margin-top: auto;
  -webkit-box-pack: center;
  display: flex;
  overflow: auto;
  scrollbar-color: white royalblue;
  justify-content: center ;
}

@media (max-width : 425px) {
  .day-container {
    min-width: 160px;
    padding: 8px 24px;
    border-radius: 8%;
    width: 144px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .day-container:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.425),rgba(255, 255, 255, 0))
  }

  .icon {
    width: 80px;
    height: 80px;
  }

  .day-temperature {
    font-size: 16px;
  }

  .day {
    font-size: 20px;
  }

}

@media (max-width: 1408px) {

  .hourly-weather-container{
    justify-content: flex-start;
  }
}
