
.visible-todo-list {
  display: flex;
  flex-direction: column;
  max-height: 72px;
  overflow: hidden;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-item {
  display: flex;
  font-size: 20px;
  margin-top: 12px;
}

.todo-item-modal {
  display: flex;
  font-size: 20px;
  margin-top: 12px;
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  width: 16px;
  height: 16px;
}

.modal-container {
  background-color: #161616;
  color: white;
  padding: 24px;
  position: relative;
}

.modal-todo-list {
  display: flex;
  flex-direction: column;
}

.close-modal-img{
  width: 24px;
  height: 24px;
}

@media (max-width: 425px) {

  .date-time {
    font-size: 20px;
  }

  .time-index {
    font-size: 16px;
    margin-top: 16px;
  }

  .date-day {
    font-size: 16px;
  }

  .button-next {
    font-size: 20px;
  margin-top: 30px;
  margin-right: 15px;
  }

  .todo-text {
    margin-left: 16px;
  }

  .todo-item {
    font-size: 16px;
    margin-top: 12px;
  }


  .container-date-todo {
    margin-top: 16px;
  }

}

.animation-todo-item-exit {
  opacity: 1;
  transform: translateX(0%);
}

.animation-todo-item-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 400ms, transform 400ms;
}

.animation-main-todo-item-exit {
  opacity: 1;
  transform: translateX(0%);
}

.animation-main-todo-item-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 400ms, transform 400ms;
}

.menu-container {
  display: flex;
  margin-top: 24px;
  align-items: baseline;
  justify-content: space-between;
  width: 88px;
}

.save {
  margin-top: 16px;
}

.edit-text {
  margin-left: 4px;
  margin-right: 24px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.todo-text {
  margin-left: 24px;
  margin-right: 24px;
  width: 200px;
}

.todo-done {
  margin-top: 12px;
}

.modal-menu {
  display: flex;
  margin-left: auto;
}
