
.visible-todo-list {
  display: flex;
  flex-direction: column;
  max-height: 72px;
  overflow: hidden;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-item {
  display: flex;
  font-size: 20px;
  margin-top: 12px;
}

.logo {
  width: 16px;
  height: 16px;
}

.modal-container {
  background-color: #161616;
  color: white;
  padding: 24px;
  position: relative;
}

.modal-todo-list {
  display: flex;
  flex-direction: column;
}

.close-modal-img{
  width: 24px;
  height: 24px;
}

@media (max-width: 425px) {

  .date-time {
    font-size: 20px;
  }

  .time-index {
    font-size: 16px;
    margin-top: 16px;
  }

  .date-day {
    font-size: 16px;
  }

  .button-next {
    font-size: 20px;
  margin-top: 30px;
  margin-right: 15px;
  }

  .todo-text {
    margin-left: 16px;
  }

  .todo-item {
    font-size: 16px;
    margin-top: 12px;
    align-self: start;
  }

  .container-date-todo {
    margin-top: 16px;
  }

}

.animation-todo-item-exit {
  opacity: 1;
  transform: translateX(0%);
}

.animation-todo-item-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 400ms, transform 400ms;
}

.animation-main-todo-item-exit {
  opacity: 1;
  transform: translateX(0%);
}

.animation-main-todo-item-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 400ms, transform 400ms;
}

.menu-container {
  display: flex;
}
