.modal {
  margin: auto;
}

.modal-window {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.shadow {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.308);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.modal-content {
  padding: 24px;
}

.animation-enter {
  opacity: 0;
  transform: scale(0);
}

.animation-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms, transform 250ms;
}

.animation-exit {
  opacity: 1;
}

.animation-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: opacity 250ms, transform 250ms;
}

.animation-shadow-enter {
  opacity: 0;
}

.animation-shadow-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}

.animation-shadow-exit {
  opacity: 1;
}

.animation-shadow-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}
