body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;

  color: white;
  background: linear-gradient(rgb(20, 48, 255), rgb(0, 0, 131));
}
