.button {
  display: flex;
  border:none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.edit {
  margin-left: 4px;
  margin-right: 24px;
}

.menu {
  margin-top: auto;
  margin-bottom: 8px;
}

.close-modal {
  background: rgb(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
}
