.global-container{
width: 100%;
height: 100vh;
}

.request-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
font-size: 64px;
}

.place-request{
font-size: 24px;
}
